# -----------------------------------
# Archivos de Entorno y Configuraciones Sensibles
# -----------------------------------

# Archivo con variables de entorno (claves de DB, secretos, etc.)
.env

# Archivos de logs y bases de datos locales (si usas SQLite, etc.)
*.log
*.sqlite
*.db

# Archivos de IDEs (Editores de código)
.vscode
.idea

# -----------------------------------
# Dependencias y Builds
# -----------------------------------

# Carpeta de módulos (dependencias de NPM)
/node_modules

# Archivos de lock de paquetes
package-lock.json
npm-debug.log
yarn-error.log